body {
  background-image: url(../public/backgroundPicture.png);
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  padding-top: 100px;
  height: 450vh;
}

.h-color {
  color: #f07f47;
}

.h-background {
  background-color: rgba(255, 255, 255);
  opacity: 90%;
}

.comment-background {
  background-color: rgb(241, 190, 165);
}

.btn-color {
  background-color: #f07f47;
  color: white;
  outline: none;
}

.btn-color:hover {
  border: 1px solid #f07f47;
  color: #f07f47;
}

.btn-color:focus {
  border: 1px solid #f07f47 !important;
}

.btn-color:active {
  color: #f07f47 !important;
}

.navbar {
  background-color: transparent;
  transition: background-color 700ms;
}

.navbar-scrolled {
  background-color: white;
  transition: background-color 700ms;
}

.no-border {
  border: none;
}

.subreddit-list li {
  padding: 0.5rem;
}

.media-container video {
  max-width: 100%;
  max-height: 100%;
}

.subreddit-item {
  cursor: pointer;
}

.subreddit-item:hover {
  background-color: #f07f47;
  color: white;
  border-radius: 2%;
}

@media (max-width: 500px) {
  .custom-max-width {
    max-width: 100%;
  }
}

@media (min-width: 501px) {
  .custom-max-width {
    max-width: 80%;
  }
}

@media (min-width: 900px) {
  .custom-max-width {
    max-width: 60%;
  }
}

@media (max-width: 1000px) {
  .custom-max-width-link {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .comments-btn {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .first-col {
    position: fixed;
  }
  .second-col {
    position: relative;
    margin-left: 200px;
  }
}

@media (min-width: 1140px) {
  .second-col {
    margin-left: 330px;
  }
}
